body {
   background: #0B0C0C;
   color:#ffffff;
   text-align:center;
}

.animated {
  -webkit-animation-duration: 1000ms;
  -moz-animation-duration: 1000ms;
  animation-duration: 1000ms;
}
.header_area {
	background: url(../img/vector_left.svg) no-repeat left bottom, url(../img/vector_right.svg) no-repeat right bottom;
}
.logo h1 {
    font-family: Shojumaru;
    font-size: 50px;
    font-weight: 400;
    line-height: 66px;
    letter-spacing: 0em;
	text-transform: uppercase;
	padding-bottom: 11px;
}
.logo h3 {
    font-family: Happy Monkey;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-transform: uppercase;
	padding-bottom: 28px;
}
.logo h3 span {
    color: #26A458;
}
.main_title {
	padding:40px 0;
}
.projects_area h2 {
   font-family: Happy Monkey;
   font-size: 30px;
   font-weight: 400;
   line-height: 36px;
   letter-spacing: 0em;
}
.button-bl .button {
	font-family: Shojumaru;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 50px;
    text-transform: uppercase;
    color: #26A458;
    border: solid 1px #26A458;
    border-radius: 0;
    height: 51px;
    width: 210px;
    margin-bottom:63px;
	display: inline-block;
	text-decoration: none;
}
.count-bl {
    max-width: 467px;
    margin: 0 auto;
}
.count-bl h3 {
	font-family: Happy Monkey;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
	padding-bottom: 36px;
}
.count-bl .counter {
	font-family: Happy Monkey;
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
}
.count-bl .single-counter p {
	font-family: Happy Monkey;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
	text-transform: uppercase;
	padding-bottom: 30px;
}
.main_menu {
	padding: 59px 0;
}
.nav {
    justify-content: center;
	align-items: center;
	gap: 100px;
}
.main_menu a {
	color:#26A458;
	font-family: Happy Monkey;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
	text-decoration: none;
	text-transform: uppercase;
}
.sp{
    color: #d2c1af !important
}
.projects_area {
	padding-bottom: 50px;
}
.projects_area_one {
	background: #0B0C0C;
}
.button-collapsed {
	font-family: Shojumaru;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0em;
	text-decoration: none;
	text-transform: uppercase;
	color:#ffffff;
	border: solid 1px;
    height: 51px;
    width: 164px;
    display: block;
    margin: 50px auto 0;
    line-height: 50px;
}
.projects_inner_two {
    padding-top: 30px;
}
.projects_area_two .projects_item {
    padding: 30px;
    background: #191b1d;
}
.projects_area_two .projects_item .projects_text {
    padding-top: 30px;
}
.projects_area_two .projects_item .projects_text p {
	font-family: Happy Monkey;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
	text-transform: uppercase;
}
.whitelist_blog_area {
	background: url(../img/photo_fon.png);
	padding: 200px 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.whitelist_blog_area h1 {
    font-family: Shojumaru;
    font-size: 50px;
    font-weight: 400;
    line-height: 66px;
    letter-spacing: 0em;
	text-transform: uppercase;
	padding-bottom: 11px;
}
.whitelist_blog_area h3 {
    font-family: Happy Monkey;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-transform: uppercase;
	padding-bottom: 28px;
}
.whitelist_blog_area .button {
	font-family: Shojumaru;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 50px;
    text-transform: uppercase;
    color: #ffffff;
    border: solid 1px #ffffff;
    border-radius: 0;
    height: 51px;
    width: 210px;
    margin-bottom:63px;
	display: inline-block;
	text-decoration: none;
}
.soc_img {
    display: flex;
    justify-content: center;
    gap: 27px;
    padding-top: 15px;
}
.footer_area {
	background: url(../img/vector_footer_left.svg) no-repeat left bottom, url(../img/vector_footer_right.svg) no-repeat right bottom;
	background-color:#0F0F0F;
	padding-bottom: 80px;
}
.footer_area .main_menu a {
	color:#ffffff;
}
.follow {
	font-family: Happy Monkey;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-transform: uppercase;
	text-decoration: none;
	color:#ffffff;
    margin-bottom: 10px;
    display: block;
}
.relative {
	position:relative !important;
	left: 0 !important;
}
.projects_item img {
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
 }

.projects_item img:hover{
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 }
 .reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
.rev{
      position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.rev.active{
  transform: translateY(0);
  opacity: 1;
}
/*Mobile*/
.navbar-toggler {
	display:none;
}
.logo_mobile {
	display:none;
}
@media (max-width:1200px) {
   .nav {
    gap: 50px;
}
}
@media (max-width:992px) {
    .header_area{
        padding-bottom: 470px
    }
   .nav {
    gap: 30px;
}
#navbarSupportedContent-top {
	display:none;
}
.navbar-toggler {
	display:block;
}
.logo_mobile {
	display:block;
}
.nav-item{
    width: 100%;
	text-align: left;
}
.navbar-nav .nav-link {
    padding-left: 0;
}
.footer_area .nav-item {
	display:none;
}
.footer_area .main_menu {
  padding-top: 0;
}
.footer_area {
  background: none;
    background-color: rgba(0, 0, 0, 0);

}
}
@media (max-width:600px) {
.projects_item {
  margin: 20px;
}
.whitelist_blog_area {
  padding: 50px 0;
  background-position: center center;
}
}